div.convo-card {
    color: white;
    background-color: #3F3F3F;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

div.convo-card div.convo-details {
    margin: 10px;
}

div.convo-card .person-name {
    color: #FFCF27;
    font-size: 24px;
}

.person-contact {
    margin: 10px;
    color: white;
}

div.convo-card .glyphicon {
    color: white;
    margin-left: 10px;
}

div.convo-card img.person-picture {
    max-width: 100px;
    margin-top: 8px;
}

.modal-content {
    background-color: #3F3F3F;
}

#modal-title {
    color: #FFCF27;
}

.close {
    color: white;
}

.message {
    color: white;
}

#message-input {
    width: 100%;
}

#message-image {
    width: 10%;
}
