.footer .navbar-header {
    border-top: 2px solid yellow;
    width: 100%;
}

.footer .quarter-screen-footer {
    display: block;
    float: left;
    width: 25%;
    height: 47px;
    text-align: center;
    font-size: 25px;
}

.footer .quarter-screen-footer.not-first {
    border-left: 1px solid silver;
}

.footer .quarter-screen-footer .glyphicon {
    margin-top: 11px;
}

.footer .quarter-screen-footer a {
    color: inherit;
    cursor: pointer;
    padding: 5px 15px;
}

.footer .quarter-screen-footer:hover, .footer .quarter-screen-footer:focus, .footer .quarter-screen-footer:active {
    background-color: #e2e1e1;
}

.footer .quarter-screen-footer.active {
    background-color: #e2e1e1;
}
