.footer .navbar-header {
    border-top: 2px solid yellow;
    width: 100%;
}

.footer .quarter-screen-footer {
    display: block;
    float: left;
    width: 25%;
    height: 47px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.footer .quarter-screen-footer.not-first {
    border-left: 1px solid silver;
}

.footer .quarter-screen-footer .glyphicon {
    padding-top: 11px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.footer .quarter-screen-footer a {
    color: inherit;
}

.footer .quarter-screen-footer:hover, .footer .quarter-screen-footer:focus, .footer .quarter-screen-footer:active {
    background-color: #e2e1e1;
}

.footer .quarter-screen-footer.active {
    background-color: #e2e1e1;
}

.footer .icon-badge {
    position: absolute;
    top: 2px;
    left: calc(100%/2 + 5px);
    background-color: red;
    padding-bottom: 5px;
}
