.header .navbar-logo img {
    width: 47px;
}

.header .navbar-header {
    border-bottom: 2px solid yellow;
}

.header .navbar-header .navbar-text {
    text-align: center;
    font-weight: bold;
}

.header .navbar-logo {
    position: absolute;
    float: left;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
